{% extends "base.html" %}
{% block title %}Pengaturan Pemberitahuan{% endblock %}
{% block body %}
    
    <div class="row">
        <div class="span5">
            <h4>Pengaturan Pemberitahuan</h4>
        </div>
        <div class="span5">
            <a data-toggle="tab" href="#new" class="btn btn-primary pull-right">
                Tambah
            </a>
        </div>
    </div>
    
    <div class="tab-content">
        <div class="tab-pane {% if not form.errors %}active{% endif %}" id="view">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>No HP</th>
                    </tr>
                </thead>
                <tbody id="table-list">
                    {% if broadcasts %}
                        {% for broadcast in broadcasts %}
                            <tr onclick="redirect('{{ broadcast.id }}')"
                                onmouseout="this.className='tr-mouse-out'"
                                onmouseover="this.className='tr-mouse-over'">
                                <td>{{ broadcast.name }}</td>
                                <td>{{ broadcast.phone }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">
                                <p class="alert alert-info">
                                    Tidak ada data.
                                </p>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane {% if form.errors %}active{% endif %}" id="new">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Simpan</button>
                <a href="#view" class="btn" data-toggle="tab">
                    Batal
                </a>
            </form>
        </div>
    </div>

    

    
{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        function redirect(page) {
            location.href=page;
        }
    </script>
{% endblock %}