<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | Media Komunitas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Media Komunitas 160 Karakter">
        <meta name="author" content="Akhmat Safrudin">

        <!-- Le styles -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css"
            rel="stylesheet">
        <link href="{{ STATIC_URL }}css/medkom.css" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
            </script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
            href="{{ STATIC_URL }}ico/apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
            href="{{ STATIC_URL }}ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
            href="{{ STATIC_URL }}ico/apple-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed"
            href="{{ STATIC_URL }}ico/apple-touch-icon-57.png">
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse"
                        data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Media Komunitas</a>
                    <div class="nav-collapse collapse">
                        <div class="pull-right">
                            <ul class="nav">
                                <li><a href="{% url home %}">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                            {% if user.is_authenticated %}
                                <div class="btn-group pull-right">
                                    <a class="btn dropdown-toggle"
                                        data-toggle="dropdown" href="#">
                                        <i class="icon-user"></i>
                                        {{ user.username }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/accounts/logout/">
                                                Keluar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                            </ul>
                        </div>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    
        <div class="container">
            
            <div class="row">
                <div class="span2">
                    <ul class="nav nav-list well">
                        <li class="nav-header">Menu</li>
                        <li>
                            <a href="/">
                                <i class="icon-home"></i> Home
                            </a>
                        </li>
                        <li>
                            <a href="{% url messages %}">
                                <i class="icon-envelope"></i> Pesan
                            </a>
                        </li>
                        <li>
                            <a href="{% url new_message %}">
                                <i class="icon-plus-sign"></i> Pesan Baru
                            </a>
                        </li>
                        <li>
                            <a href="{% url member %}">
                                <i class="icon-list-alt"></i> Anggota
                            </a>
                        </li>
                        <li>
                            <a href="{% url archive %}">
                                <i class="icon-align-justify"></i> Arsip
                            </a>
                        </li>
                        <li>
                            <a href="{% url log %}">
                                <i class="icon-hdd"></i> Log
                            </a>
                        </li>
                        {% if user.is_superuser %}
                            <li class="nav-header">Pengaturan</li>
                            <li>
                                <a href="{% url setting_age %}">
                                    <i class="icon-wrench"></i> Usia
                                </a>
                            </li>
                            <li>
                                <a href="{% url setting_social %}">
                                    <i class="icon-wrench"></i>
                                    Sosial
                                </a>
                            </li>
                            <li>
                                <a href="{% url broadcast %}">
                                    <i class="icon-th-list"></i> Pemberitahuan
                                </a>
                            </li>
                            
                            <li class="nav-header">Admin</li>
                            <li>
                                <a href="{% url user_admin %}">
                                    <i class="icon-user"></i> Pengguna
                                </a>
                            </li>
                            <li>
                                <a href="/admin/member/family/">
                                    <i class="icon-th"></i> Keluarga
                                </a>
                            </li>
                            <li>
                                <a href="/admin/member/person/">
                                    <i class="icon-th-large"></i> Anggota
                                </a>
                            </li>
                            <li>
                                <a href="{% url admin:index %}">
                                    <i class="icon-lock"></i> Area Admin
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                
                <div class="span10">
                    {% block body %}{% endblock %}
                </div>
            </div>
            
            <hr />
            
            <footer>
                <p>&copy; <a href="www.artikulpi.com">Artikulpi</a> 2012</p>
            </footer>
        </div> <!-- /container -->
        
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% block extrajs %}{% endblock %}
    </body>
</html>
